*{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.botones{
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones::before{
    content: "Pasar por encima";
    
}
.botones::before{
    content: "Hecho";
    
}

.botones:hover{
    color: white;
    background-color: green;
}